<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EGGY</title>
  </head>
  <body>
    <h2>Yes, no, maybe</h2>
    <h2>I don't know</h2>
    <h1>Can you repeat the question?</h1>

    <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="quote" name="quote" />
      <button type="submit">Submit</button>
    </form>

    <% for(let i=0; i < quotes.length; i++) {%>
    <li class="quote">
      <span><%= quotes[i].name %></span>
      <span><%= quotes[i].quote %></span>
    </li>
    <% } %>

    <div>
      <h2>Walter White hijacking.</h2>
      <p>Replace 1st quote with Walt's quote.</p>
      <button id="update-btn">Replace Quote</button>
    </div>

    <div>
      <h2>Remove Walt.</h2>
      <p>Replace 1st quote with Walt's quote.</p>
      <button id="delete-btn">Delete Quote</button>
      <div id="message"></div>
    </div>

    <script src="/main.js"></script>
  </body>
</html>
